.list_style{
    
    border-width: 1px;
    list-style-type: none;
    padding: 1%;
    margin-left: 2%;
  }

  input[type=checkbox] {
    transform: scale(1.2);
}

@media screen and (max-width:400px){
  input[type=checkbox] {
    transform: scale(2);
}
}